html {
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background: $red;
    width: 100%;
}

.header-box {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    h1 {
        @include font ($ff, 2.5em, 300);
        color: $white;
        letter-spacing: 2px;
        margin: 1.5em auto;
    }
}

//nav style
nav {
    img {
        width: 8vw;
        margin: .5em .5em;
        min-width: 42px;
        align-self: center;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    ul {
        display: flex;
        list-style-type: none;
        a {
            text-decoration: none;
            color: $white;
            margin-right: 1.2em;
            @include font($ff, 1.2em, 400)
        }
    }

}

//----------------------------------------------
.computer {
    border: 26px solid $white;
    border-radius: 14px;
    background-clip: padding-box;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 450px;
    box-shadow: 12px 6px 25px rgba(black, .5);
    code {
        display: block;
        text-align: left;
        padding: .8em;
        border-radius: 9px;
        background-color: $black;
        z-index: 1;
        margin: -6px;
        height: 410px;
        span {
            @include font (inherit, 1.4em, 600);
            line-height: 1.4em;
            display: block;
            color: $green;
            &:before {
                content: '$';
                margin-right: .3em;
            }
        }
    }
}

.btn-text {
    width: 100%;
    max-width: 700px;
    margin: 2.5em auto;
    h2 {
        @include font ($ff, 1em, 300);
        line-height: 1.8em;
        letter-spacing: 1px;
        color: $white;
    }
    a {
        @include btn;
        margin-top: 3em;
        margin-bottom: 5em;
    }
}


@media screen and (max-width: 1024px) {
    .header-box h1 {
        font-size: 2.2em;
    }
    .tools {
        .boxes {
            margin-left: .5em;
        }
        .box-2 {
            margin: 0 1.2em;
        }
    }

}


@media screen and (max-width: 768px) {
    nav {
        ul {
            flex-flow: row wrap;
            a {
                @include font($ff, 1em, 400);
                margin-right: .5em;
            }
        }
    }
    //2nd section
    .boxes {
        flex-flow: column wrap;
        align-items: center;
        .box-2 {
            &:after {
                display: none;
            }
        }
        .box-3 {
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: $red;
                margin: 5em auto 2em;
            }
        }
    }
    [class*='box-'] {
        width: 60%;
        p {
            text-align: center;}
        }
    .numbers {
        flex-flow: row wrap;
        .number {
            width: 50%;
        }
    }
    //footer section
    footer {
        div {
            flex-flow: column wrap;
        }
    }

}
