section.quote {
    width: 100%;
    figure {
        width: 100%;
        max-width: 800px;
        margin: 2em auto;
        margin-bottom: 5em;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        blockquote {
            @include font($ff, 2em, 300);
            line-height: 1.3em;
            text-align: center;
        }
        figcaption {
            @include font ($ff, 1em, 300);
            color: $grey;
        }
    }
}
